/* .logo {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(/assets/bootstrap-5.1.3-dist/icons-main/icons/activity.svg) !important;
  background-size: 100px 82px !important;
} */
